In [4]:
import pandas as pd #Utilizamos la biblioteca pandas para obtener una función que en automático lea el csv
datos=pd.read_csv("movie_Original_limpio.csv",encoding='latin1')#Función para leer csv
pd.set_option('display.max_rows',10)#aquí limitas el número de lineas (n-1) que mse mostrarán 
print(datos)#Esto sólo es necesario para mostrar lo que hace la función

      color           director_name  num_critic_for_reviews  duration  \
0     Color          Frank Darabont                   199.0       142
1     Color    Francis Ford Coppola                   208.0       175
2     Color       Christopher Nolan                   645.0       152
3     Color    Francis Ford Coppola                   149.0       220
4     Color           Peter Jackson                   328.0       192
...     ...                     ...                     ...       ...
3810  Color  Preston A. Whitmore II                    25.0        95
3811  Color        Don Michael Paul                    25.0        93
3812  Color         Jason Friedberg                   111.0        88
3813  Color               Bob Clark                    32.0        88
3814  Color              Jon M. Chu                    84.0       115

      director_facebook_likes  actor_3_facebook_likes    actor_2_name  \
0                           0                   461.0  Jeffrey DeMunn
1                           0                  3000.0   Marlon Brando
2                       22000                 11000.0    Heath Ledger
3                           0                  3000.0       Al Pacino
4                           0                   416.0      Billy Boyd
...                       ...                     ...             ...
3810                       17                   255.0     Wayne Brady
3811                       70                   442.0     Faizon Love
3812                       82                   329.0        Tony Cox
3813                       84                   177.0   Vanessa Angel
3814                      209                    41.0   Sean Kingston

      actor_1_facebook_likes      gross                          genres  ...  \
0                    11000.0   28341469                     Crime|Drama  ...
1                    14000.0  134821952                     Crime|Drama  ...
2                    23000.0  533316061     Action|Crime|Drama|Thriller  ...
3                    22000.0   57300000                     Crime|Drama  ...
4                     5000.0  377019252  Action|Adventure|Drama|Fantasy  ...
...                      ...        ...                             ...  ...
3810                   592.0    7009668                    Action|Sport  ...
3811                   692.0    5694308                    Comedy|Sport  ...
3812                   869.0   14174654                          Comedy  ...
3813                   650.0    9109322            Comedy|Family|Sci-Fi  ...
3814                   569.0   73000942               Documentary|Music  ...

     num_user_for_reviews language  country  content_rating     budget  \
0                    4144  English      USA               R   25000000
1                    2238  English      USA               R    6000000
2                    4667  English      USA           PG-13  185000000
3                     650  English      USA               R   13000000
4                    3189  English      USA           PG-13   94000000
...                   ...      ...      ...             ...        ...
3810                   36  English      USA           PG-13    5600000
3811                   46  English      USA           PG-13    7000000
3812                  359  English      USA           PG-13   25000000
3813                  129  English  Germany              PG   20000000
3814                  233  English      USA               G   13000000

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0           1994                  745.0        9.3          1.85
1           1972                10000.0        9.2          1.85
2           2008                13000.0        9.0          2.35
3           1974                14000.0        9.0          1.85
4           2003                  857.0        8.9          2.35
...          ...                    ...        ...           ...
3810        2006                  378.0        2.1          1.85
3811        2007                  585.0        2.0          1.85
3812        2008                  624.0        1.9          1.85
3813        2004                  384.0        1.9          2.35
3814        2011                   69.0        1.6          1.85

     movie_facebook_likes
0                  108000
1                   43000
2                   37000
3                   14000
4                   16000
...                   ...
3810                  244
3811                  446
3812                    0
3813                    0
3814                62000

[3815 rows x 28 columns]

In [6]:
datos.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,3814.000000,3815.000000,3815.000000,3807.000000,3814.000000,3.815000e+03,3.815000e+03,3815.000000,3809.000000,3815.000000,3.815000e+03,3815.000000,3812.000000,3815.000000,3815.000000,3815.000000
mean,165.850813,110.171953,796.130799,763.351983,7657.859203,5.200677e+07,1.045588e+05,11387.413106,1.377264,333.244299,4.582899e+07,2002.994758,1998.370672,6.466841,2.106110,9297.501442
std,123.790933,22.727445,3045.731063,1882.963588,15427.139814,7.015154e+07,1.515510e+05,19019.707874,2.052033,409.837929,2.243400e+08,10.012759,4518.910733,1.057023,0.271347,21478.190843
min,1.000000,37.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1920.000000,0.000000,1.600000,1.180000,0.000000
25%,75.000000,96.000000,10.000000,186.500000,731.500000,7.589867e+06,1.874450e+04,1859.000000,0.000000,107.000000,1.000000e+07,1999.000000,372.000000,5.900000,1.850000,0.000000
50%,137.000000,106.000000,62.000000,433.000000,1000.000000,2.913663e+07,5.295800e+04,3963.000000,1.000000,207.000000,2.500000e+07,2005.000000,680.000000,6.600000,2.350000,225.000000
75%,223.000000,120.000000,234.000000,690.000000,12000.000000,6.647820e+07,1.268195e+05,16123.000000,2.000000,396.000000,5.000000e+07,2010.000000,975.000000,7.200000,2.350000,11000.000000
max,813.000000,330.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.300000,2.760000,349000.000000

In [7]:
datos.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [11]:
datos['director_name'].value_counts().idxmax()

'Steven Spielberg'

In [12]:
# get top 10 most frequent names
n = 10
datos['director_name'].value_counts()[:n].index.tolist()

['Steven Spielberg',
 'Clint Eastwood',
 'Woody Allen',
 'Ridley Scott',
 'Martin Scorsese',
 'Tim Burton',
 'Steven Soderbergh',
 'Spike Lee',
 'Renny Harlin',
 'Oliver Stone']

In [19]:
actores=pd.read_csv("actores.csv",encoding='latin1')#Función para leer csv
pd.set_option('display.max_rows',10)#aquí limitas el número de lineas (n-1) que mse mostrarán 
actores.columns

Index(['actores'], dtype='object')

In [21]:
actores['actores'].value_counts().idxmax()

'Robert De Niro'

In [22]:
n = 10
actores['actores'].value_counts()[:n].index.tolist()

['Robert De Niro',
 'Morgan Freeman',
 'Johnny Depp',
 'Bruce Willis',
 'Matt Damon',
 'Brad Pitt',
 'Nicolas Cage',
 'Bill Murray',
 'Will Ferrell',
 'Steve Buscemi']