In [1]:
import numpy as np
import pandas as pd
dataTweets = pd.read_csv("covid19_tweets.csv")
pd.set_option('display.max_rows', 5)
print(dataTweets)

                    user_name user_location  \
0                      ·èâ·é•‚òª’¨ÍÇÖœÆ    astroworld
1               Tom Basile üá∫üá∏  New York, NY
...                       ...           ...
74434                   M0ser           NaN
74435  Your Friend & Sabre ‚öîÔ∏è   Chicago, IL

                                        user_description         user_created  \
0      wednesday addams as a disney princess keepin i...  2017-05-26 05:46:42
1      Husband, Father, Columnist & Commentator. Auth...  2009-04-16 20:06:23
...                                                  ...                  ...
74434  Reagan conservative and attorney raised in the...  2014-02-18 03:46:28
74435  My spectral decomposition has a significant da...  2016-12-19 19:55:00

       user_followers  user_friends  user_favourites  user_verified  \
0                 624           950            18775          False
1                2253          1677               24           True
...               ...           ...              ...            ...
74434            2554          1733           129104          False
74435             310          1748            60133          False

                      date                                               text  \
0      2020-07-25 12:27:21  If I smelled the scent of hand sanitizers toda...
1      2020-07-25 12:27:17  Hey @Yankees @YankeesPR and @MLB - wouldn't it...
...                    ...                                                ...
74434  2020-08-04 03:13:19  If only we had a responsible media to warn us ...
74435  2020-08-04 03:13:15  MAGA: #COVID19 is just a cold &amp; it'd be go...

                                 hashtags               source  is_retweet
0                                     NaN   Twitter for iPhone       False
1                                     NaN  Twitter for Android       False
...                                   ...                  ...         ...
74434                         ['COVID19']   Twitter for iPhone       False
74435  ['COVID19', 'Hydroxycholoroquine']  Twitter for Android       False

[74436 rows x 13 columns]

In [2]:
dataTweets.columns

Index(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'is_retweet'],
      dtype='object')

In [3]:
dataTweets.describe()

       user_followers  user_friends  user_favourites
count    7.443600e+04   74436.00000     7.443600e+04
mean     1.059513e+05    2154.72117     1.529747e+04
...               ...           ...              ...
75%      5.148000e+03    1780.25000     1.014800e+04
max      1.389284e+07  497363.00000     2.047197e+06

[8 rows x 3 columns]

In [4]:
dataTweets['user_name'].describe()

count                  74436
unique                 44853
top       GlobalPandemic.NET
freq                     312
Name: user_name, dtype: object

In [5]:
dataTweets['user_location'].describe()

count     59218
unique    14622
top       India
freq       1496
Name: user_location, dtype: object

In [6]:
dataTweets['user_description'].describe()

count                                                 70079
unique                                                42690
top       Breaking News & Critical Information to SURVIV...
freq                                                    312
Name: user_description, dtype: object

In [7]:
dataTweets['user_created'].describe()

count                   74436
unique                  45554
top       2010-07-13 21:58:05
freq                      312
Name: user_created, dtype: object

In [8]:
dataTweets['user_verified'].describe()

count     74436
unique        2
top       False
freq      65082
Name: user_verified, dtype: object

In [9]:
dataTweets['date'].describe()

count                   74436
unique                  56546
top       2020-07-29 16:30:00
freq                       26
Name: date, dtype: object

In [10]:
dataTweets['text'].describe()

count                                                 74436
unique                                                74312
top       Madhya Pradesh CM Shivraj Singh Chouhan says h...
freq                                                      6
Name: text, dtype: object

In [11]:
dataTweets['hashtags'].describe()

count           53002
unique          23445
top       ['COVID19']
freq            16004
Name: hashtags, dtype: object

In [12]:
dataTweets['source'].describe()

count               74424
unique                450
top       Twitter Web App
freq                22974
Name: source, dtype: object

In [13]:
dataTweets['is_retweet'].describe()

count     74436
unique        1
top       False
freq      74436
Name: is_retweet, dtype: object

In [14]:
dataTweets['user_followers'].describe()

count    7.443600e+04
mean     1.059513e+05
             ...
75%      5.148000e+03
max      1.389284e+07
Name: user_followers, Length: 8, dtype: float64

In [15]:
dataTweets['user_friends'].describe()

count     74436.00000
mean       2154.72117
             ...
75%        1780.25000
max      497363.00000
Name: user_friends, Length: 8, dtype: float64

In [16]:
dataTweets['user_favourites'].describe()

count    7.443600e+04
mean     1.529747e+04
             ...
75%      1.014800e+04
max      2.047197e+06
Name: user_favourites, Length: 8, dtype: float64

In [17]:
tweets = dataTweets["user_verified"]
totalT = len(tweets)
print("Total Tweets: ", totalT)
vT = sum(tweets)
print("Verified tweets: ", vT)
unVT= totalT-vT
print("Unverified tweets: ", unVT)
vTP= (float((vT/totalT)))*100
uvTP= (float((unVT/totalT)))*100
print("Verified tweets percentage: ", vTP)
print("Unverified tweets percentage: ", uvTP)
if (vTP+uvTP == 100):
    print("Alright")

Total Tweets:  74436
Verified tweets:  9354
Unverified tweets:  65082
Verified tweets percentage:  12.566500080606158
Unverified tweets percentage:  87.43349991939384
Alright